* {
    margin: 0;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
}

body {
    display: flex;
    justify-content: center;
    background: #fce4c4;
}

.blog-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .blog-heading span {
    color: #791212;
    font-size: larger;
  }
  .blog-heading h3 {
    font-size: 2.4rem;
    color: #141414;
    font-weight: 600;
  }

.container {

    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    margin-top: 3%;

}

.container .card {
    width: 310px;
    position: relative;
    height: 550px;
    background: #f0f0f0;
    margin: 10px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.container .card .imgBx {
    position: relative;
    width: 250px;
    height: 250px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rbga (0, 0, 0, 1.2);

}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 10px;
}

.card:hover{
    background-color: rgb(233, 243, 187);
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;

}

.imgBx:hover img {
    transform: scale(1.1);
}